.root {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 386px;
}

.compact {
    min-height: 196px;
}

.leftSlot,
.rightSlot {
    flex: 0 1 auto;
}
