.root {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 326px;
    margin-bottom: 60px;
}

.compact {
    min-height: 57px;
}

.leftSlot,
.rightSlot {
    flex: 0 1 auto;
}
