.root {
    flex: 0 0 auto;
    min-height: 70px;
    margin: 0;
    padding: 0 0 39px;
    text-align: center;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .root {
        text-align: left;
    }
}

.gridContainer {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .gridContainer {
        flex-direction: row;
    }
}

.gridColumn {
    flex: 0 1 auto;
    margin: 8px 0 0;
}

.gridColumn:first-child {
    margin-top: 0;
}

@media (min-width: 768px) {
    .gridColumn {
        margin: 0 0 0 8px;
    }

    .gridColumn:first-child {
        margin-left: 0;
    }
}
