.root {
    flex: 0 0 auto;
    min-height: 70px;
    margin: 0;
    padding: 0 0 39px;
    text-align: center;
    white-space: nowrap;
}

@media (--viewportSM) {
    .root {
        text-align: left;
    }
}

.gridContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

@media (--viewportSM) {
    .gridContainer {
        flex-direction: row;
    }
}

.gridColumn {
    flex: 0 1 auto;
}
