html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: var(--fontColorBody);
    font-family: var(--fontFamilyBody);
    font-size: var(--fontSizeBody);
    line-height: var(--lineHeight);
    font-weight: 400;
    text-transform: uppercase;
}

body {
    background: var(--backgroundNoise);
}

#__next {
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--fontColorLink);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
