:root {
    --color-n100: #cfd6de;
    --color-n200: #b8bec5;
    --color-n300: #a0a5ac;
    --color-n400: #898d93;
    --color-n500: #71757a;
    --color-n600: #5a5c60;
    --color-n700: #424447;
    --color-n800: #2b2b2e;
    --color-n900: #131315;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--color-n900);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--color-n100);
}

#__next {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
