:root {
    --colorPrimary100: #cfd6de;
    --colorPrimary200: #b8bec5;
    --colorPrimary300: #a0a5ac;
    --colorPrimary400: #898d93;
    --colorPrimary500: #71757a;
    --colorPrimary600: #5a5c60;
    --colorPrimary700: #424447;
    --colorPrimary800: #2b2b2e;
    --colorPrimary900: #131315;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--colorPrimary900);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--colorPrimary100);
}

#__next {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
